<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppDeckApiKey</key>
	<string>218hf32d1901627d35131fa83b63f56ae906#AppDeck Test App</string>
	<key>AppDeckApiKey - 10</key>
	<string>989hb11900d8d83ee53fbe22c0e922f3ba09#Tool Fitness</string>
	<key>AppDeckApiKey - 11</key>
	<string>999h056edc07b49f95bb570e1af07b8eece8</string>
	<key>AppDeckApiKey - 12</key>
	<string>1069hdaf84412b985ad99efa1037a6948c978#JVL</string>
	<key>AppDeckApiKey - 13</key>
	<string>1086h2bcaa38f9a89f2e90b3e19b46b583f41#JP.News</string>
	<key>AppDeckApiKey - 14</key>
	<string>1089habcccfd19841b01be8f081b17e1d9dc1#xboxygene</string>
	<key>AppDeckApiKey - 15</key>
	<string>1282h3a3bf9a93a263a6e3118e9ef55dcf69d#Jeux Online</string>
	<key>AppDeckApiKey - 16</key>
	<string>987hd3f4117daeb1be598d4eacbc13085473#Dev Webdeck</string>
	<key>AppDeckApiKey - 17</key>
	<string>1279hf8895674d261055a2a3818b41cbd4d03#Team AAA</string>
	<key>AppDeckApiKey - 18</key>
	<string>982h553006d57a69ecc3e5c73b36a48d9051#dev test</string>
	<key>AppDeckApiKey - 2</key>
	<string>218hf32d1901627d35131fa83b63f56ae906#AppDeck Test App</string>
	<key>AppDeckApiKey - 3</key>
	<string>757h76c94e17ec542ce74d210eb3f949bf6f#Play3-Live 2.2</string>
	<key>AppDeckApiKey - 4</key>
	<string>224h315e5a19e0865b35ac7e5b3713ef5a3b#Next INpact</string>
	<key>AppDeckApiKey - 5</key>
	<string>761ha792d5a82b6332ba378114920d2fafe8#Play3-Live Android</string>
	<key>AppDeckApiKey - 5 - 2</key>
	<string>837hf414478b7e520570c0a057bd3fe124c9#94 citoyens</string>
	<key>AppDeckApiKey - 6</key>
	<string>914h091c82338d9cbcf6249444987b0778e2#Play3-Live 2.5</string>
	<key>AppDeckApiKey - 7</key>
	<string>1060hc931f3cbf173612382d474a58d3a78b0#Next INpact DEV</string>
	<key>AppDeckApiKey - 8</key>
	<string>999h056edc07b49f95bb570e1af07b8eece8#UniversFreebox</string>
	<key>AppDeckApiKey - 8 - 2</key>
	<string>979hf2a89dc17ae78bd6e3ff60a65f301724#actuanimaux</string>
	<key>AppDeckApiKey - 9</key>
	<string>959hc85fdc336418aade8d2d86f6af4a5fa9#SNIIM</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-Small-40</string>
				<string>Icon-Small</string>
				<string>Icon-60</string>
				<string>Icon.png</string>
				<string>Icon@2x.png</string>
				<string>Icon-72.png</string>
				<string>Icon-72@2x.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-Small-40</string>
				<string>Icon-Small-50</string>
				<string>Icon-Small</string>
				<string>Icon-76</string>
				<string>Icon-60</string>
				<string>Icon.png</string>
				<string>Icon@2x.png</string>
				<string>Icon-72.png</string>
				<string>Icon-72@2x.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.38</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>38</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default-Landscape</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default-Portrait</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>Default-Landscape-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>Default-Portrait-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>Default-Portrait-667h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 667}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>Default-Landscape-667h</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
			<key>UILaunchImageSize</key>
			<string>{375, 667}</string>
		</dict>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
