# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
Temp
proxy.log
Scripts/*.mov
tmp_sdk
node_modules
AdNetworkSupport/**/SDK/*.h
AdNetworkSupport/**/SDK/*.a
AdNetworkSupport/**/SDK/*.framework
AdNetworkSupport/**/SDK/*.embeddedframework
AdNetworkSupport/Vungle/VungleSDK.embeddedframework/
AdNetworkSupport/Unity/SDK/UnityAds.bundle/
mopub-ios-sdk.podspec
Scripts/*
!Scripts/build_scripts/
Scripts/build_scripts/*
!Scripts/build_scripts/mraid_build.sh
MoPubCanaryApp/
mopub-sdk-common/
AdColonyCustomEvent/
ChartboostCustomEvent/
FacebookCustomEvent/
FlurryCustomEvent/
GoogleAdMobCustomEvent/
GreystripeCustomEvent/
InMobiCustomEvent/
MillennialCustomEvent/
MoPubFabric/
MoPubResources/
VungleCustomEvent/
iAdCustomEvent/
UnityCustomEvent/
TapJoyCustomEvent/
/Fabric/
MoPubSwiftSampleApp/
/Pods
AdNetworkSupport/InMobi/
