<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.mobideck.appdeck">

    <!--  permission for appdeck -->
    <uses-permission android:name="android.permission.INTERNET" /><!-- Internet Access -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!-- Check Internet Access -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/><!-- Read cached files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!-- Write cached files -->

    <!--  permission for better advertisement -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/><!-- Get user ID -->

    <!--  permission for push -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="net.mobideck.appdeck.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="net.mobideck.appdeck.permission.C2D_MESSAGE" />

    <!-- vibrate -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- barcode -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:name=".AppDeckApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.MyAppDeckTheme">

        <!-- AppDeck Test App -->
        <meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/218hf32d1901627d35131fa83b63f56ae906"></meta-data>

        <!-- Test Cache -->
        <!-- <meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/932h33fe5c9e9d1648ee30a2a713a3492be9"></meta-data>-->
0
        <!-- AppDeck Dev App -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/982h553006d57a69ecc3e5c73b36a48d9051"></meta-data>-->

        <!-- PC INpact -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/224h315e5a19e0865b35ac7e5b3713ef5a3b" />-->

        <!-- PC INpact Dev -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/1060hc931f3cbf173612382d474a58d3a78b0" />-->

        <!--  Play3-Live iOS -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/757h76c94e17ec542ce74d210eb3f949bf6f"></meta-data> -->

        <!--  Play3-Live Android -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/761ha792d5a82b6332ba378114920d2fafe8"></meta-data>-->

        <!--  Monsieur-Mademoiselle -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/996h682fe65e828164f4686e7b531f5e0f9f"></meta-data>-->

        <!--  94 citoyens -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/837hf414478b7e520570c0a057bd3fe124c9"></meta-data>-->

        <!-- Univers Freebox -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/999h056edc07b49f95bb570e1af07b8eece8"></meta-data>-->

        <!-- Actu Animaux -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/979hf2a89dc17ae78bd6e3ff60a65f301724"></meta-data>-->

        <!-- Jeux Video Live -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/1069hdaf84412b985ad99efa1037a6948c978"></meta-data>-->

        <!-- Tool Fitness -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/989hb11900d8d83ee53fbe22c0e922f3ba09"></meta-data>-->

        <!-- JP News -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/1086h2bcaa38f9a89f2e90b3e19b46b583f41"></meta-data>-->

        <!-- xboxygen -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/1089habcccfd19841b01be8f081b17e1d9dc1"></meta-data>-->

        <!-- SNIIM -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/959hc85fdc336418aade8d2d86f6af4a5fa9"></meta-data>-->

        <!-- RDD -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/1109h4bed9177a3e9d426e75a0055ca5fefa2"></meta-data>-->

        <!-- Jeux Online -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/1282h3a3bf9a93a263a6e3118e9ef55dcf69d"></meta-data>-->

        <!-- Serie Addict -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/1180h595374b1057d1e57537d6c1d3639cea4"></meta-data>-->

        <!-- Team AAA -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/1279hf8895674d261055a2a3818b41cbd4d03"></meta-data>-->

        <!-- Dev Test -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/982h553006d57a69ecc3e5c73b36a48d9051"></meta-data>-->

        <!-- Ginjfo -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/1622h34412ab3c04f08e74e473a53b0dbd795"></meta-data>-->

        <!-- Tatoo -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/1571h24994efd99e8f6dacac48a298ac319f7"></meta-data>-->

        <!-- Krewe -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/1818hf63940ad7859260deba357b98fe1b3ef"></meta-data>-->

        <!-- Fis-Ski -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/1833h98708fb114b52085fe57a6e301611916"></meta-data>-->

        <!-- Somfy -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/1913h07f960c6a85e4e288e3c8fcf056e8fc2"></meta-data>-->

        <!-- Gamer Network -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/1924h9126a001382240adb058f23f60fb93d2"></meta-data>-->

        <!-- Freenews -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/2110hf12a8cb06f755b12f947c710e43cd47c"></meta-data>-->

        <!-- Memo Heures -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/2247hadc45a049e11769f39f2719601b9f0a6"></meta-data>-->

        <!-- Game Love -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/2394h80b265540a1cb6e70ad4b6aadb4652b1"></meta-data>-->

        <!-- Zebulon -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.dev.appdeck.mobi/get/1882h9fcb3c7b1f3831cf00853cf085e1e1d3"></meta-data>-->

        <activity
            android:name=".AppDeckActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <!-- default -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Depp Linking -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="http" android:host="testappv2.appdeck.mobi" android:pathPrefix="/" />
                <data android:scheme="https" android:host="testappv2.appdeck.mobi" android:pathPrefix="/" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Android TV -->
                <!--<category android:name="android.intent.category.LEANBACK_LAUNCHER" />-->
            </intent-filter>
        </activity>

        <!-- Configuration -->
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data android:name="com.crashlytics.ApiKey" android:value="e62d5eb16cef87dc2d56665e3205360edcbd44bb"/>

        <!-- Push Notification -->
        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="net.mobideck.appdeck" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- [START gcm_listener] -->
        <service
            android:name="net.mobideck.appdeck.push.GCMGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name="net.mobideck.appdeck.push.GCMInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name="net.mobideck.appdeck.push.GCMRegistrationIntentService"
            android:exported="false">
        </service>



        <!-- Google Analytics -->
        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:enabled="true"
            android:exported="false"/>
        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>


        <!-- Barcode -->
        <activity android:name="net.mobideck.appdeck.autre_.BaseScannerActivity"/>
        <activity android:name="net.mobideck.appdeck.autre_.SimpleScannerActivity"/>


    </application>

</manifest>