<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobideck.appdeck">

    <!--  permission for appdeck -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--  permission for better advertisement -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" /> -->

    <!--  permission for push -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.mobideck.appdeck.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />--> <!--  to support device < 4.0.4 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.mobideck.appdeck.permission.C2D_MESSAGE" />

    <!--  permission for WideSpace -->
    <!--
	<uses-permission android:name="android.permission.READ_CALENDAR" />
	<uses-permission android:name="android.permission.WRITE_CALENDAR" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
     -->

    <!--  permission for crosswalk -->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--<uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />-->

    <!-- WideSapce minSdk 17 override -->
    <uses-sdk android:minSdkVersion="15" tools:overrideLibrary="com.widespace, com.gc.materialdesign" />

    <application
        tools:replace="android:icon,android:theme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:name="com.mobideck.appdeck.AppDeckApplication"
        android:theme="@style/Theme.MyAppDeckTheme" >

        <!-- AppDeck Test App -->
        <meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/218hf32d1901627d35131fa83b63f56ae906"></meta-data>

        <!-- Test Cache -->
        <!-- <meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/932h33fe5c9e9d1648ee30a2a713a3492be9"></meta-data>-->

        <!-- AppDeck Dev App -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/982h553006d57a69ecc3e5c73b36a48d9051"></meta-data>-->

        <!-- PC INpact -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/224h315e5a19e0865b35ac7e5b3713ef5a3b" />-->

        <!-- PC INpact Dev -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/1060hc931f3cbf173612382d474a58d3a78b0" />-->

        <!--  Play3-Live iOS -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/757h76c94e17ec542ce74d210eb3f949bf6f"></meta-data> -->

        <!--  Play3-Live Android -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/761ha792d5a82b6332ba378114920d2fafe8"></meta-data> -->

        <!--  Monsieur-Mademoiselle -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/996h682fe65e828164f4686e7b531f5e0f9f"></meta-data>-->

        <!--  94 citoyens -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/837hf414478b7e520570c0a057bd3fe124c9"></meta-data>-->

        <!-- Univers Freebox -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/999h056edc07b49f95bb570e1af07b8eece8"></meta-data>-->

        <!-- Actu Animaux -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/979hf2a89dc17ae78bd6e3ff60a65f301724"></meta-data>-->

        <!-- Jeux Video Live -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/1069hdaf84412b985ad99efa1037a6948c978"></meta-data>-->

        <!-- Tool Fitness -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/989hb11900d8d83ee53fbe22c0e922f3ba09"></meta-data>-->

        <!-- JP News -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/1086h2bcaa38f9a89f2e90b3e19b46b583f41"></meta-data>-->

        <!-- xboxygen -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/1089habcccfd19841b01be8f081b17e1d9dc1"></meta-data>-->

        <!-- SNIIM -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/959hc85fdc336418aade8d2d86f6af4a5fa9"></meta-data>-->

        <!-- RDD -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/1109h4bed9177a3e9d426e75a0055ca5fefa2"></meta-data>-->

        <!-- Jeux Online -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/1282h3a3bf9a93a263a6e3118e9ef55dcf69d"></meta-data>-->

        <!-- Serie Addict -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/1180h595374b1057d1e57537d6c1d3639cea4"></meta-data>-->

        <!-- Team AAA -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/1279hf8895674d261055a2a3818b41cbd4d03"></meta-data>-->

        <!-- Dev Test -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/982h553006d57a69ecc3e5c73b36a48d9051"></meta-data>-->

        <!-- Ginjfo -->
        <!--<meta-data android:name="AppDeckJSONURL" android:value="http://config.appdeck.mobi/json/1622h34412ab3c04f08e74e473a53b0dbd795"></meta-data>-->

        <meta-data android:name="noCache" android:value="false" />

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.mobideck.appdeck" />
            </intent-filter>
        </receiver>
        <service android:name=".GcmIntentService" />


        <activity
            android:name=".Loader"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!--
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="http" android:host="testappv2.appdeck.mobi" />
                <data android:scheme="https" android:host="testappv2.appdeck.mobi" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />-->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="http" android:host="testappv2.appdeck.mobi" android:pathPrefix="/" />
                <data android:scheme="https" android:host="testappv2.appdeck.mobi" android:pathPrefix="/" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>

        <!-- MoPub Activity -->
        <activity android:name="com.mopub.mobileads.MoPubActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.mobileads.MraidActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.common.MoPubBrowser" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>

        <!-- AdMob Activity -->
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <!-- Millennial Media -->
        <!--<activity android:name="com.millennialmedia.android.MMActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="keyboardHidden|orientation|keyboard" />
        <activity android:name="com.millennialmedia.android.VideoPlayer" android:configChanges="keyboardHidden|orientation|keyboard" />-->

        <!-- InMobi -->
        <activity android:name="com.inmobi.androidsdk.IMBrowserActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:hardwareAccelerated="true" />
        <receiver
            android:name="com.inmobi.commons.analytics.androidsdk.IMAdTrackerReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.inmobi.share.id" />
            </intent-filter>
        </receiver>

        <!-- Facebook -->
        <activity android:name="com.facebook.ads.InterstitialAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <provider android:authorities="com.facebook.app.FacebookContentProvider1635878233340418"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <!-- Flurry -->
        <activity
            android:name="com.flurry.android.FlurryFullscreenTakeoverActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize">
        </activity>

        <meta-data android:name="com.crashlytics.ApiKey" android:value="e62d5eb16cef87dc2d56665e3205360edcbd44bb"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <!-- Start Apps -->
        <activity android:name="com.startapp.android.publish.list3d.List3DActivity"
            android:theme="@android:style/Theme" />

        <activity android:name="com.startapp.android.publish.OverlayActivity"
            android:theme="@android:style/Theme.Translucent"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity android:name="com.startapp.android.publish.FullScreenActivity"
            android:theme="@android:style/Theme"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <!-- Smaato -->
        <activity android:name="com.smaato.soma.ExpandedBannerActivity" ></activity>
        <activity android:name="com.smaato.soma.interstitial.InterstitialActivity" ></activity>

        <!-- Mobile Core -->
        <service
            android:name="com.ironsource.mobilcore.MobileCoreReport"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="com.ironsource.mobilcore.InstallationTracker"
            android:enabled="true" />
        <activity
            android:name="com.ironsource.mobilcore.InterstitialVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:keepScreenOn="true" />

    </application>

</manifest>
